body {
  margin: 0;
  overflow: hidden;
  background: #251a40;
  font-family: "Roboto", sans-serif;
}

#game-container {
  position: relative;
  width: 100vw;
  height: 100vh;
  background: linear-gradient(120deg, #2b1e48, #0f1013);
  background-size: 400% 400%;
  animation: moveBackground 60s ease infinite;
}

@keyframes moveBackground {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.bullet {
  position: absolute;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-bottom: 10px solid #bda865;
}

.enemy {
  position: absolute;
}

.enemy-bullet {
  position: absolute;
  width: 4px;
  height: 4px;
  background: #ce767c;
}

.polygon-enemy {
  clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
  background: #3f51b5;
}

.damage-pulse {
  position: absolute;
  width: 10px;
  height: 10px;
  background: radial-gradient(circle, #98304c, #912c43, #465db2);
  border-radius: 50%;
  pointer-events: none;
  animation: damage-pulse 500ms ease-out forwards;
}

@keyframes damage-pulse {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.2);
  }
}

@keyframes explosion {
  0% {
    transform: scale(0);
    opacity: 1;
  }
  100% {
    transform: scale(10);
    opacity: 0;
  }
}

.explosion {
  position: absolute;
  width: 50px;
  height: 50px;
  background: radial-gradient(circle, #98304c, #912c43, #465db2);
  border-radius: 50%;
  pointer-events: none;
  animation: explosion 500ms ease-out forwards;
}
