---
import Ship from "../components/ship.astro";
import "../styles/global.css";
import "../styles/stars.css";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Astro Game</title>
  </head>
  <body>
    <div id="game-container">
      <div id="stars"></div>
      <Ship />
    </div>
    <script src="../scripts/game.ts"></script>
  </body>
</html>
