---

---

<!doctype html>
<head>
  <meta charset="UTF-8" />
  <style>
    body {
      font-family: Arial, sans-serif;
    }

    .header {
      padding: 10px 10px 0px 0px;
      display: flex;
      justify-content: flex-end;
      text-align: right;
      flex-direction: column;
      flex-wrap: wrap;
      flex: 1;
      flex-basis: 100%;
    }

    .header h1 {
      margin: 0;
      font-size: 16px;
      font-weight: 600;
    }

    .content {
      margin: 0 80px;
    }

    .content p {
      margin: 0;
      font-size: 14px;
    }

    .content h2 {
      margin: 0;
      font-size: 16px;
      font-weight: 600;
      color: black;
    }

    .custom-hr {
      border: 0;
      height: 3px;
      border-radius: 10px;
      margin: 10px 10px 20px 10px;
      background-color: #f5b335;
    }

    .card {
      border: 1px solid #d9d9d9;
      background-color: #f8f8f8;
      border-radius: 10px;
      padding: 10px 20px;
      margin: 10px 0;
    }

    .card h1 {
      margin: 0;
      font-size: 24px;
      font-weight: 600;
    }

    .card h2 {
      margin: 0;
      font-size: 16px;
      color: #747474;
      font-weight: 600;
    }

    .card p {
      margin: 0;
      font-size: 12px;
      color: #747474;
    }

    .information {
      font-weight: 600;
      color: black;
    }

    .main-icon {
      width: 28px;
      height: 28px;
      color: #f5b335;
      margin-right: 0;
    }

    .min-icon {
      color: #747474;
    }

    .card .tile {
      display: flex;
      flex-direction: column;
      align-items: start;
    }

    .card .tile p {
      margin: 0;
      font-size: 14px;
      color: black;
    }

    .card .tile h1 {
      margin: 0;
      color: #747474;
      font-size: 14px;
      font-weight: 600;
    }

    .card-grid {
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 10px;
    }

    .card .pregunta {
      display: flex;
      flex-direction: column;
      align-items: start;
    }

    .card .pregunta h1 {
      margin: 0;
      font-size: 16px;
      color: #747474;
    }

    .card .pregunta h2 {
      margin: 0;
      font-size: 14px;
      color: #747474;
    }

    .card .pregunta p {
      margin: 0;
      font-size: 16px;
      color: black;
      font-weight: 600;
    }
  </style>
</head>

<body>
  <div class="header">
    <h1>Transporte Rodriguez S.A de C.V</h1>
    <p>TRAR97537TD</p>
  </div>

  <hr class="custom-hr" />

  <div class="content">
    <div class="card">
      <div class="flex justify-between">
        <div class="flex flex-col">
          <div class="flex items-start">
            <div class="main-icon mt-[6px]">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="24"
                height="24"
                viewBox="0 0 24 24"
                ><path
                  fill="currentColor"
                  d="M13.5 9V4H20v5zM4 12V4h6.5v8zm9.5 8v-8H20v8zM4 20v-5h6.5v5zm1-9h4.5V5H5zm9.5 8H19v-6h-4.5zm0-11H19V5h-4.5zM5 19h4.5v-3H5zm4.5-3"
                ></path></svg
              >
            </div>
            <div class="flex flex-col space-y-0">
              <h1>EIIR-MARTEN SD</h1>
              <h2>Security Services</h2>
              <p>
                Elaboro: <span class="information">Victor Bedolla Sanchez</span>
              </p>
            </div>
          </div>
        </div>

        <div class="flex flex-col items-end">
          <p>Inspección 0001</p>
          <div class="flex items-center">
            <div class="min-icon">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="16"
                height="16"
                viewBox="0 0 24 24"
                ><g class="calendar-outline"
                  ><g fill="currentColor" class="Vector"
                    ><path
                      fill-rule="evenodd"
                      d="M6 4h12a4 4 0 0 1 4 4v10a4 4 0 0 1-4 4H6a4 4 0 0 1-4-4V8a4 4 0 0 1 4-4m0 2a2 2 0 0 0-2 2v10a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V8a2 2 0 0 0-2-2z"
                      clip-rule="evenodd"></path><path
                      fill-rule="evenodd"
                      d="M3 10a1 1 0 0 1 1-1h16a1 1 0 1 1 0 2H4a1 1 0 0 1-1-1m5-8a1 1 0 0 1 1 1v4a1 1 0 0 1-2 0V3a1 1 0 0 1 1-1m8 0a1 1 0 0 1 1 1v4a1 1 0 1 1-2 0V3a1 1 0 0 1 1-1"
                      clip-rule="evenodd"></path><path
                      d="M8 13a1 1 0 1 1-2 0a1 1 0 0 1 2 0m0 4a1 1 0 1 1-2 0a1 1 0 0 1 2 0m5-4a1 1 0 1 1-2 0a1 1 0 0 1 2 0m0 4a1 1 0 1 1-2 0a1 1 0 0 1 2 0m5-4a1 1 0 1 1-2 0a1 1 0 0 1 2 0m0 4a1 1 0 1 1-2 0a1 1 0 0 1 2 0"
                    ></path></g
                  ></g
                ></svg
              >
            </div>
            <p>15-07-2024 18:08</p>
          </div>
        </div>
      </div>
    </div>

    <h2>Datos generales</h2>
    <div class="card">
      <div class="card-grid">
        <div class="tile">
          <h1>Viaje</h1>
          <p>MA-000087</p>
        </div>
        <div class="tile">
          <h1>Candado Oficial</h1>
          <p>CLOC098</p>
        </div>
        <div class="tile">
          <h1>Operador</h1>
          <p>Oscar Sanchez Ramírez</p>
        </div>
        <div class="tile">
          <h1>Licencia</h1>
          <p>00987597565</p>
        </div>
      </div>
    </div>
    <h2>Formulario</h2>
    <div class="card">
      <div class="pregunta">
        <h1>1- Parachoques</h1>
        <h2>
          Aquí utilizarán una linterna y un espejo de inspección para revisar la
          parte interna del parachoque.
        </h2>

        <h2>¿Cumple con lo especificado?</h2>
        <p>Si</p>
      </div>
    </div>
  </div>
</body>
