---
import "./enemy.css";
---

<div class="enemy">
  <div class="body"></div>
  <div class="wing left"></div>
  <div class="wing right"></div>
  <div class="cockpit"></div>
  <div class="gun left"></div>
  <div class="gun right"></div>
</div>
