#spaceship {
  position: absolute;
  top: 80%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: transform 0.1s ease;
  z-index: 1000;
  background: transparent;
}

.rocket {
  position: relative;
  width: 25px;
  margin: 0 auto;
  transition: transform 0.2s ease-in-out;
}

.nose {
  width: 12.5px;
  margin: 0 auto;
  border-top: 7.5px solid #353535;
  border-top-left-radius: 50%;
  border-top-right-radius: 50%;
}

.head {
  position: relative;
  display: block;
  border-bottom: 12.5px solid white;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  height: 0;
  width: 12.5px;
  margin: 0 auto;
}

.neck {
  position: relative;
  width: 22.5px;
  height: 15px;
  margin: 0 auto;
  background: #f4f4f4;

  &:after {
    position: absolute;
    top: 0;
    right: 0;
    content: "";
    width: 11px;
    height: 30px;
    background: #e0e0e0;
  }
}

.body {
  position: relative;
  width: 25px;
  height: 60px;
  background: #f4f4f4;
  border-bottom: 1.5px solid #a81237;
  border-top: 1.5px solid #a81237;

  &:after {
    position: absolute;
    top: 0;
    right: 0;
    content: "";
    width: 12.5px;
    height: 60px;
    background: #e0e0e0;
  }
}

.fire {
  position: relative;
  width: 12.5px;
  height: 35px;
  margin: 0 auto;
  border-bottom-right-radius: 50%;
  border-bottom-left-radius: 50%;
  animation: fire 0.2s infinite;
}

.fire > div {
  position: absolute;
  background: #ed0303;
}

.spark1 {
  top: 15px;
  left: 2.5px;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  animation: fireBig 0.5s infinite;
}

.spark2 {
  top: 17.5px;
  right: 2.5px;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  animation: fireBig 0.3s infinite;
}

.spark3 {
  top: 20px;
  right: 10px;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  animation: fireSmall 0.4s infinite;
}

.spark4 {
  top: 20px;
  left: -10px;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  animation: fireSmall 0.7s infinite;
}

.spark5 {
  top: 15px;
  right: -5px;
  width: 5px;
  height: 5px;
  border-radius: 50%;
  animation: fireSmall 0.6s infinite;
}

.spark6 {
  top: 30px;
  left: 2.5px;
  width: 5px;
  height: 5px;
  border-radius: 50%;
  animation: fireSmall 0.2s infinite;
}

.left-fin {
  position: absolute;
  top: 36.5px;
  right: 24px;
  width: 0px;
  border-bottom: 55px solid white;
  border-left: 30px solid transparent;
}

.right-fin {
  position: absolute;
  top: 36.5px;
  left: 24px;
  width: 0px;
  border-bottom: 55px solid white;
  border-right: 30px solid transparent;
}

@keyframes fire {
  0% {
    background: linear-gradient(
      to bottom,
      rgba(255, 134, 28, 1) 0%,
      rgba(239, 1, 124, 1) 50%,
      rgba(237, 3, 3, 1) 100%
    );
  }
  50% {
    background: linear-gradient(
      to bottom,
      rgba(237, 3, 3, 1) 0%,
      rgba(255, 134, 28, 1) 51%,
      rgba(239, 1, 124, 1) 100%
    );
  }
  100% {
    background: linear-gradient(
      to bottom,
      rgba(239, 1, 124, 1) 0%,
      rgba(237, 3, 3, 1) 51%,
      rgba(255, 134, 28, 1) 100%
    );
  }
}

@keyframes fireBig {
  0% {
    width: 5px;
    height: 5px;
    background: #ff861c;
  }
  50% {
    background: #ef017c;
  }
  100% {
    width: 30px;
    height: 30px;
  }
}

@keyframes fireSmall {
  0% {
    width: 5px;
    height: 5px;
    background: #ff861c;
  }
  50% {
    background: #ef017c;
  }
  100% {
    width: 20px;
    height: 20px;
  }
}
